.footer {
    padding: 82px 0;
    &__text {
        padding-bottom: 32px;
        font-weight: 600;
        font-size: 20px;
        line-height: 34px;
        text-align: center;
        color: #3F4350;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 20px;
        height: 150px;
        align-items: center;
        &__img {
            display: block;
            margin: 0 auto;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    &__divider {
        display: block;
        margin: 100px auto 0 auto;
        height: 1px;
        width: 80%;
        background:#000000;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: -1px;
    }
    &__nav {
        margin-top: 88px;
        padding: 0 60px;
        display: flex;
        justify-content: space-between;
    }
    &__links {
        display: flex;
        margin-right: 10px;
        a {
            color: #000000;
            font-weight: 500;
            font-size: 16px;
            transition: 0.5s all;
            &:hover {
                color: #2E7ACF;
                text-decoration: none;
            }
        }
        &__item {
            padding-left: 50px;
        }
    }
    .languages {
        padding-right: 75px;
        .dropbtn {
            transition: 0.5s all;
            &:hover {
                color: #2E7ACF;
                text-decoration: none;
            }
        }
    }
    .dropbtn{
        color:#000000;
        background: url('../img/mdi-lang-black.png') no-repeat left center;
        &::after {
            background: url("../img/arrow-black.png") no-repeat scroll center center;
        }
        }
}