.hamburger {
    display: none;
}

.header__mobile__menu {
    display: none;
    &__links{
        margin-bottom: 54px;
        a {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
        }
    }
    .languages {
        margin-top: 40px;
        padding-right: 0;
    }
}